@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(../fonts/Roboto-MediumItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?p8n1hc');
  src:url('../fonts/icomoon.eot?#iefixp8n1hc') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?p8n1hc') format('truetype'),
  url('../fonts/icomoon.woff?p8n1hc') format('woff'),
  url('../fonts/icomoon.svg?p8n1hc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-icon-"], [class*=" icomoon-icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-icon-home3:before {
  content: "\e902";
}
.icomoon-icon-edit:before {
  content: "\e905";
}
.icomoon-icon-user:before {
  content: "\e971";
}
.icomoon-icon-hammer2:before {
  content: "\e9a8";
}
.icomoon-icon-menu:before {
  content: "\e9bd";
}
.icomoon-icon-add:before {
  content: "\ea0a";
}
.icomoon-icon-minus:before {
  content: "\ea0b";
}
.icomoon-icon-delete:before {
  content: "\ea0f";
}
.icomoon-icon-checkmark:before {
  content: "\ea10";
}
.icomoon-icon-refresh:before {
  content: "\ea2e";
}
.icomoon-icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icomoon-icon-sort-alpha-desc:before {
  content: "\ea49";
}

.users-toolbar, .auctions-toolbar {
  height: 48px !important;
  margin-bottom: 5px;
}

.icomoon-icon-hammer2 {
  margin-top: 20px;
  margin-left: 5px;
  color: rgb(255, 64, 129) !important;
}

.icomoon-icon-user {
  margin-top: 2px;
  margin-left: 5px;
  color: rgb(255, 64, 129) !important;
}

body {
  margin: 0px;
}

#left-nav {
  font-size: 12pt;
}

.user-dialog, .auction-dialog {
  margin-top: -40px;
  div {
    min-width: 200px;
    @media (min-width: 600px)
    {
      width: 45% !important;
      &:nth-child(even) {
        float: right;
      }
    }
    @media (max-width: 599px)
    {
      width: 100% !important;
    }
  }
}

.user-item, .auction-item  {
  .delete-button {
    position: absolute !important;
    right: 20px;
    top: 2px;
    z-index: 100;
  }
}

.login-paper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  padding: 5px;
  min-width: 500px;

  .login-error {
    color: rgb(255, 64, 129);
    text-align: center;
    margin-top: 5px;
  }

  .login-input-wrapper {
    display: flex;
    @media (min-width: 700px) {
      flex-direction: row;
      justify-content: center;
    }
    @media (max-width: 699px) {
      flex-direction: column;
      align-items: center;
      button {
        margin: 10px;
      }
    }
    div {
      margin: 0px 10px;
    }
  }
  .login-submit-wrapper {
    display: flex;
    justify-content: space-around;
  }
}

.app-wrapper {
  width: 100%;
}

.user-delete-button, .auction-delete-button {
  position: absolute !important;
  right: 0px;
  margin-top: -20px;
  transition: opacity 1.5s linear;
  opacity: 0;
}

.user-update-button, .auction-update-button {
  position: absolute !important;
  right: 35px;
  margin-top: -20px;
  transition: opacity 1.5s linear;
  opacity: 0;
}

.auction-item:hover .auction-update-button, .auction-item:hover .auction-delete-button,
.user-item:hover .user-update-button, .user-item:hover .user-delete-button {
  opacity: 1;
}

.auctions-list, .users-list {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 95%;
  z-index: -1;
}